@import url(http://fonts.googleapis.com/css?family=Lato);
h2,
h3 {
  font-family: 'Lato', sans-serif;
}
h2 a,
h3 a {
  font-family: 'Lato', sans-serif;
}
h2 {
  color: #a8aa23;
  font-size: 16px;
}
h2 a {
  color: #a8aa23;
  text-decoration: none;
}
h2 a:hover {
  color: #a8aa23;
  text-decoration: underline;
}
h2 a:visited {
  color: #a8aa23;
  text-decoration: none;
}
h3 {
  color: #a8aa23;
  font-size: 14px;
}
h3 a {
  color: #a8aa23;
  text-decoration: none;
}
h3 a:hover {
  color: #a8aa23;
  text-decoration: underline;
}
h3 a:visited {
  color: #a8aa23;
  text-decoration: none;
}
#home #brandpromise {
  color: #5e6e65;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
.spacer {
  margin: 15px 0;
  display: block;
}
.indent {
  margin: 10px 0 0 0;
  list-style: none;
}
.indent li {
  margin: 0 0 0 20px;
}

#main .project-list li img {
  height: 98px;
  width: 220px;
}