<h2><a href="/contact_us">CONTACT US</a></h2>
<img src="../images/captions/location.jpg" width="699" height="335" style="margin-bottom: 20px;" />

<div class="row">
	<div class="col-md-4">
		<address>
			901 N. East St<br/>
			Indianapolis, Indiana 46202<br/>
			<abbr title="phone">P:</abbr> 317.951.0000<br/>
			<a href="mailto:info@landstoryla.com">info@landstoryla.com</a>
		</address>
	</div>
	
	<div class="col-md-6">
		<div id="gmap"></div>
	</div>

	<div class="col-md-2">
		<div id="fb" class="social-link">
			<a href="//facebook.com/landstoryla">
				<img src="../images/social/facebook-icon_sm.png" alt="Facebook" title="Facebook" height="48" width="48">
			</a>
		</div>
		<div id="linkedin" class="social-link">
			<a href="//linkedin.com/company/landstory">
				<img src="../images/social/linkedin-icon_sm.png" alt="LinkedIn" title="LinkedIn" height="48" width="48">
			</a>
		</div>
	</div>
</div>