<h2>
	<a href="/contact_us">CONTACT US / EMPLOYMENT</a>
</h2>		
<img src="../images/employment.jpg" width="699" height="435" style="margin-bottom: 20px;" />

{{{ content }}}

<p>
	<strong>{{ contactName }}</strong><br/>
	<a href="mailto:{{{ email }}}">{{{ email }}}</a>
</p>